<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>    
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/global.css">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="/script.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/functions.js"></script>
    <script>
      var socket = io()
      
      window.onload = async () => {
        let body = document.querySelector('body')
        let bg = document.querySelector('#title')
        let noise = document.querySelector("#noise")
        
        // floating background
        body.addEventListener('mousemove', (event) => {
          bg.style.transform = `translate(${showCoords(event,5)[0]}px, ${showCoords(event,5)[1]}px)`
        })
        body.addEventListener('touchmove', (event) => {
          bg.style.transform = `translate(${touchCoords(event,5)[0]}px, ${touchCoords(event,5)[1]}px)`
        })
        
        // add noises on click
        body.addEventListener('click', (event) => {
          let click = getClick(event)
          console.log(click)          
          noise.innerHTML += `<div class="pixel" style="top:${click.y}px; left:${click.x}px; background-color:rgba(${click.depth},${click.depth},${click.depth},1)"></div>`
          socket.emit('new click', click)
        })
        
        // get noises on fresh
        socket.on('refresh data', (noises)=>{
          let n = noises.length
          noise.innerHTML = getNoises(noises, n, "x", "y", "depth")
        })         
      }
    </script>
    
  </head>  
  <body>
    
<!--     <div id="title"> -->
    <div>
      <div class="center name">
        <div class="btext">Yale School Of Art</div>
        <div class="btext">MFA Sculpture Thesis Exhibition</div>
        <br>
        <div class="btext">March 22 - 28, 2021</div>
<!--         <br> -->
<!--         <div class="btext footnote">Online Exhibition Goes Live on March 25</div> -->
      </div>
    </div>

    <div id="corners">
      <div id="corner1">To</div>
      <div id="corner2">Hear</div>
      <div id="corner3">No</div>
      <div id="corner4">Echo</div>
    </div>

    <nav id="top">
      <a class="entrance left-name">Sae Jun Kim</a>
      <a class="entrance right-name">Armando Cortes</a>
    </nav>
    <nav id="right">
      <a class="entrance">Jeenho Seo</a>
    </nav>
    <nav id="bottom">
      <a class="entrance left-name">Freddy Villalobos</a>
      <a class="entrance right-name"> Hyeree Ro</a>
    </nav>
    <nav id="left">
      <a class="entrance">Stella Zhong</a>
    </nav>
    
    <div id="noise"></div>
    <div id="showimage"></div>
    

  </body>
</html>
