*, body {
  font-family: oldround0;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
html, body {
  overflow: hidden;
}
body {
  position: relative;
  background-color: ghostWhite;
}
#noise{
  position: fixed;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); /* mobile */
  pointer-events: none;
/*   opacity: 0; */
}
.pixel {
  position: absolute;
  width: 1.8px;
  height: 1.8px;
  border-radius: 0.8px;
  background-color: LightGray;
}
#wall {
  position: absolute;
  margin-top: -50px;
  margin-left: -50px;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); /* mobile */
  border: 50px solid rgba(0,0,0,0);
}
#title {
  position: absolute;
  margin-top: -5px;
  margin-left: -5px;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); /* mobile */
  border: 5px solid rgba(0,0,0,0);
}
.footnote, .footnote > *, .footnote span {
  font-size: 15px;
}
.center {
  position: fixed;
  top: 50vh;
  top: calc(var(--vh, 1vh) * 50); /* mobile */
  left: 50vw;
  transform: translate(-50%,-50%) scale(1, 1.1);
  transform-origin: center center;
  cursor: default;
}
div.btext {
  line-height: 1.2em;
}
.btext span {
  line-height: 0;
  margin: 0;
  padding: 0;
}
nav {
  position: absolute;
}
nav a {
  display: inline-block;
  padding: 1em;
  cursor: pointer;
}
a:hover,.exit:hover,.hoverImg:hover,.hoverVideo:hover {
  font-family: oldround4;
}
#showimage {
  width: 64vw;
  height: 80vh;
  height: calc(var(--vh, 1vh) * 80); /* mobile */
  margin-top: 10vh;
  margin-top: calc(var(--vh, 1vh) * 10); /* mobile */
  margin-bottom: 10vh;
  margin-bottom: calc(var(--vh, 1vh) * 10); /* mobile */
  margin-left: 18vw;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#showimage img, #showimage video, #showimage iframe {
  max-width: 64vw;
  max-height: 80vh;
  max-height: calc(var(--vh, 1vh) * 80); /* mobile */
/*   object-fit: scale-down; */
}
#showimage iframe > *{
  
}
.hoverImg,.hoverVideo {
  cursor: pointer;
}

#loading-fonts {
  pointer-events: none;
  position: absolute;
  color: rgba(255,255,255,0);
  z-index: -99;
}
#loading-fonts span {
  color: rgba(255,255,255,0);
}



@media only screen and (max-width: 600px) {
  *, body {
    font-size: 15px;
  }
  .footnote, .footnote span, .footnote a {
    font-size: 12px;
  }
}



@font-face {
  font-family: oldround0;
  src: url(https://cdn.glitch.com/a840980d-4afb-44d8-a53e-527ff5d74d1b%2FOldStandardTT-Regular_0.otf?v=1615752533507);
}
@font-face {
  font-family: oldround1;
  src: url(https://cdn.glitch.com/a840980d-4afb-44d8-a53e-527ff5d74d1b%2FOldStandardTT-Regular_1.otf?v=1615762259386);
}
@font-face {
  font-family: oldround2;
  src: url(https://cdn.glitch.com/a840980d-4afb-44d8-a53e-527ff5d74d1b%2FOldStandardTT-Regular_2.otf?v=1615762259509);
}
@font-face {
  font-family: oldround3;
  src: url(https://cdn.glitch.com/a840980d-4afb-44d8-a53e-527ff5d74d1b%2FOldStandardTT-Regular_3.otf?v=1615762259456);
}
@font-face {
  font-family: oldround4;
  src: url(https://cdn.glitch.com/a840980d-4afb-44d8-a53e-527ff5d74d1b%2FOldStandardTT-Regular_4.otf?v=1615782907286);
}
@font-face {
  font-family: oldround5;
  src: url(https://cdn.glitch.com/a840980d-4afb-44d8-a53e-527ff5d74d1b%2FOldStandardTT-Regular_5.otf?v=1615762259289);
}
@font-face {
  font-family: oldround6;
  src: url(https://cdn.glitch.com/a840980d-4afb-44d8-a53e-527ff5d74d1b%2FOldStandardTT-Regular_6.otf?v=1615752533932);
}
@font-face {
  font-family: oldround7;
  src: url(https://cdn.glitch.com/a840980d-4afb-44d8-a53e-527ff5d74d1b%2FOldStandardTT-Regular_7.otf?v=1615752534263);
}
@font-face {
  font-family: oldround8;
  src: url(https://cdn.glitch.com/a840980d-4afb-44d8-a53e-527ff5d74d1b%2FOldStandardTT-Regular_8.otf?v=1615752534021);
}
@font-face {
  font-family: oldround9;
  src: url(https://cdn.glitch.com/a840980d-4afb-44d8-a53e-527ff5d74d1b%2FOldStandardTT-Regular_9.otf?v=1615752534099);
}
