#corners > div {
  position: fixed;
  font-family: oldround4;
  font-size: 20px;
  letter-spacing: 0.1em;
  z-index:100;
  cursor: default;
}
#corner1 {
  top: 6.5vw;
  transform: rotate(-50deg);
  left: 6vw;
}
#corner2 {
  top: 6vw;
  transform: rotate(45deg);
  right: 4.5vw;
}
#corner3 {
  bottom: 6.5vw;
  transform: rotate(130deg);
  right: 6vw;
}
#corner4 {
  bottom: 6vw;
  transform: rotate(-135deg);
  left: 4.5vw;
}
#top {top: 0px;}
#bottom {bottom: 0px;}
#top,#bottom {
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#left,#right {
  width: 100vh;
  width: calc(var(--vh, 1vh) * 100); /* mobile */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#left {
  transform-origin: bottom left;
  transform: rotate(-90deg) translateY(100%);
  left: 0;
  bottom: 0;
}
#right {
  transform-origin: bottom right;
  margin: auto;
  transform: rotate(90deg) translateY(100%);
  right: 0;
  bottom: 0;
}
.left-name {padding-left: 80px;}
.right-name {padding-right: 80px;}

.center {
  max-width: 640px;
}
#title .info {
  display: none;
}
#title .info > * {
  width: 640px;
  margin-bottom: 2em;
}
#title .info * {
  font-size: 15px;
  line-height: 1.1em;
  text-align: left;
}
#name-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
ul {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  list-style: none;
}
ul * {
  text-align: left;
  font-size: 15px;
  line-height: 1.1em;
}
li a, p a {
  text-decoration: underline;
  white-space: nowrap;
}

@media only screen and (max-width: 800px) {
  .center, #title .info > * {
    max-width: 66vw;
  }
}


@media only screen and (max-width: 600px) {
  #corners > div {
    font-size: 18px;
  }
  .center, #title .info > * {
    max-width: 66vw;
  }
  #name-container {
    flex-flow: row wrap;
  }
  #title .info *, ul, ul * {
    font-size: 12px;
  }
}