#top {top: -2em;}
#bottom {bottom: -2em;}
#top,#bottom {
  width: 90vw;
  left: 5vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#left,#right {
  bottom: 5vh;
  bottom: calc(var(--vh, 1vh) * 5); /* mobile */
  width: 90vh;
  width: calc(var(--vh, 1vh) * 90); /* mobile */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#left {
  transform-origin: bottom left;
  transform: rotate(-90deg);
  left: 1em;
}
#right {
  transform-origin: bottom right;
  transform: rotate(90deg);
  right: 1em;
}
#exit {
  transform: rotate(-45deg);
  top: 30px;
  left: 20px;
}
#text-right {
  transform: rotate(-45deg);
  bottom: 30px;
  right: 20px;
}
#text-left {
  transform: rotate(45deg);
  bottom: 30px;
  left: 20px;
}
#text-close {
  transform: rotate(45deg);
  top: 30px;
  right: 20px;
  display: none;
}
#exit,#text-right,#text-left,#text-close {
  position: fixed;
  z-index: 99;
}
.center p {
  text-align: left;
  margin-bottom: 0.5em;
}
#text-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); /* mobile */
  padding: 5vw;
  padding-top: 80px;
  padding-bottom: 3em;
  box-sizing: border-box; 
  top: 0;
  left: 0;
/*   display: flex; */
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  overflow-y: scroll;
  display: none;
}
#text-container-left, #text-container-right {
  max-width: 640px;
  margin: 0;
  padding: 0;
  display: none;
}
#text-container-left p,
#text-container-right p {
  text-align: left;
  margin-bottom: 1em;
  line-height: 1.2em;
  background-color: ghostwhite;
  position: relative;
/*   word-break: normal; */
/*   hyphens: auto; */
}
.footnote {
  max-width: 630px;
}
p.text-title {
  font-style: italic;
}
sup, sup > * {
  vertical-align: center;
  line-height: 0;
  font-size: 15px;
  margin-bottom: 0.5em;
}
.footnote a {
  text-decoration: underline;
}
.comment {
  display: inline-block;
  position: absolute;
  left: 640px;
  top: 0;
  max-width: 300px;
  width: calc( 50vw - 350px );
  font-size: 15px;
  text-align: left;
}
.show-comment {
  display: none;
}
mark:hover + .show-comment {
  display: inline;
}

.wider {
  max-width: 800px; !important
}


@media only screen and (max-width: 1080px) {
  .line {
    display: none;
  }
  .comment {
    display: block;
    position: static;
    margin-left: 22vw;
    margin-top: 1em;
    max-width: 400px;
    width: 65vw;
    font-size: 15px;
    text-align: left;
  }
  mark:hover + .show-comment {
    display: inline;
  }
}

@media only screen and (max-width: 600px) {
  sup, sup > *, .comment {
    font-size: 12px;
  }
  .line {
    display: none;
  }
  .comment {
    display: block;
    position: static;
    margin-left: 20vw;
    margin-top: 1em;
    max-width: 400px;
    width: 65vw;
    font-size: 12px;
    text-align: left;
  }
  mark:hover + .show-comment {
    display: inline;
  }
}